.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.feature-decoration {
  border: 1px solid #8e8f99;
  display: flex;
  border-radius: 4px;
  width: 264px;
  align-items: center;
  justify-content: center;
  height: 112px;

  background-color: #f4f4fd;
  margin-bottom: 8px;
}
